html {
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #0E1211;
    color: #f8f9fa;
    transition: background-color 0.5s;
    overflow-x: hidden;
}


a {
    text-decoration: none;
  }


header {
    background: #15251D;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 0px #4a934e;
    transition: background-color 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #f8f9fa; /* Cor do texto ajustada */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #12e21d;
}



section {
    width: 80%;
    margin: auto;
    text-align: center;
    transition: background-color 0.5s;
    margin-bottom: 10rem;
}

section h1 {
    margin-bottom: 20px;
}







/* ------------------- Sobre --------------------- */

.home {
    justify-content: center;
    margin-top: 160px;
    display: flex;
    padding: 2.5rem;
    gap: 200px;
}

.perfil img {
    border-radius: 50%;
    width: 550px; 
    height: 550px; 
    margin-right: 100px;
    object-fit: cover;
    box-shadow: 7px 5px 0px 0px #0dbd16;
    transition: transform 0.3s;
}

.welcome {
    margin: auto 0;
}

.welcome h2 {
    margin: 8rem auto 0;
    font-weight: normal;
    font-size: 3.5rem;
    transition: color 0.3s;
    
}

.welcome h1{
    margin: 0 auto 8rem;
    font-size: 4rem;
    font-weight: normal;
}



.welcome p{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    text-decoration:underline #12e21d;
}

.green {
    color: #0dbd16;
}
.underline {
    text-decoration:underline #12e21d;
}

.welcome .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.welcome .social-icons a:hover {
    color: #12e21d;
}





/* ------------------- Descrição --------------------- */


.descricao {
    max-width: 900px;
    width: 100%;
    margin: 14rem auto 15rem;
    transition: transform 0.3s;
}

.descricao h2 {
    margin: 0 auto 4rem;
}

.descricao p {
    line-height: 1.6;
    margin-bottom: 1rem;
    transition: color 0.3s;
}










/* ------------------- Experiencia --------------------- */


.experiencia-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}

.experiencia-text {
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -10px 8px 0px #15251D;
    position: relative;
    overflow: hidden;
}

.experiencia-text:hover {
    box-shadow: -10px 8px 0px #12e21d;
}


.experiencia-text h3 {
    color: #f8f9fa; /* Cor do texto ajustada */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.experiencia-text:hover h3 {
    color: #12e21d;
}

.experiencia-text p,
.projeto p {
    color: #343a40; /* Cor do texto ajustada */
    line-height: 1.6;
    transition: color 0.3s;
}

.experiencia-text h3,
.projeto h3 {
    color: #343a40; /* Cor do texto ajustada */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}










/* ------------------- Projeto --------------------- */

.projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projeto {
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: -10px 8px 0px rgb(16, 42, 49);
    transition: transform 0.3s, box-shadow 0.3s;
}

.projeto:hover {
    transform: translateY(-10px);
    box-shadow: -10px 8px 0px rgb(10, 19, 22);
}

.projeto-img img {
    width: 100%;
    height: 14.063rem;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 10px 10px 0 0;

}

.projeto-infos {
    padding: 2rem;
}


.linguagem-logo {
    display: flex;
    justify-content: center;
}

.linguagem-logo img {
    display: flex;
    width: 35px; 
    padding: 10px;  
}










/* ------------------- Projeto --------------------- */

#contato a {
    color: #f8f9fa; /* Cor do texto ajustada */
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#contato a:hover {
    color: #007bff;
    border-bottom-color: #f8f9fa; /* Cor do texto ajustada */
}


footer {
    background: #253745;
    color: #f8f9fa; /* Cor do texto ajustada */
    padding: 1rem;
    text-align: center;
    transition: background-color 0.5s;
    width: 100%;
}

footer p {
    margin-top: 40px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: flex;
    }

    ul li {
        padding: 0 25px 0 25px;
    }
    
    .experiencia-grid {
        padding: 0 25px 0 80px;
        margin-right: 15px;
    }

    .projetos {
        padding: 0 25px 0 80px;
        margin-right: 15px;
    }


    section {
        width: 100%;
        margin: auto;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
