html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #11212D;
    color: #f8f9fa;
    transition: background-color 0.5s;
    overflow-x: hidden;
}


a {
    text-decoration: none;
  }


::selection {
    background-color: #007bff;
    color: #fff;
}

header {
    background: #253745;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #f8f9fa; /* Cor do texto ajustada */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #007bff;
}



section {
    width: 80%;
    margin: auto;
    text-align: center;
    transition: background-color 0.5s;
    margin-bottom: 10rem;
}







/* ------------------- SOBRE --------------------- */

.home {
    justify-content: center;
    margin-top: 80px;
    display: flex;
    padding: 2.5rem;
    gap: 200px;
}

.perfil img {
    border-radius: 50%;
    width: 500px; /* Tamanho da imagem ajustado */
    height: 500px; /* Tamanho da imagem ajustado */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.welcome {
    margin: auto 0;
}

.welcome h1{
    margin-bottom: 0;
    font-size: 4rem;
    font-weight: normal;
}

.welcome h2 {
    margin-top: 10px;
    margin-bottom: 4.5rem;
    font-weight: normal;
    font-size: 3.5rem;
    transition: color 0.3s;
    
}

.welcome p{
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
}

.welcome .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.welcome .social-icons a:hover {
    color: #1e90ff;
}


.descricao {
    max-width: 600px;
    width: 100%;
    margin: -5rem auto 15rem;
    transition: transform 0.3s;
}

.descricao p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    transition: color 0.3s;
}













.experiencia-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

.experiencia {
    background-color: #f3f3f3;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: -10px 8px 0px rgb(16 42 49);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.experiencia:hover {
    transform: translateY(-10px);
    box-shadow: -10px 8px 0px rgb(10, 19, 22);
}

.experiencia img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s;
}

.experiencia:hover img {
    opacity: 0.7;
}

.experiencia h3 {
    color: #f8f9fa; /* Cor do texto ajustada */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.experiencia p,
.projeto p {
    color: #343a40; /* Cor do texto ajustada */
    line-height: 1.6;
    transition: color 0.3s;
}

.experiencia h3,
.projeto h3 {
    color: #343a40; /* Cor do texto ajustada */
    margin-bottom: 1rem;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.habilidades {
    margin: 1rem 0;
    transition: transform 0.3s;
    display: grid;

}

.center {
    display: flex;
    justify-content: center;
}

.progress-bar {
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    width: 80%;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    transition: background-color 8s;
}

.progress-bar span {
    display: block;
    height: 100%;
    background: #007bff;
    border-radius: 20px;
    transition: width 220.3s;
    text-align: right;
}

.progress-html {
    animation: progress-animation-html 3s forwards;
}
@keyframes progress-animation-html{
    0% { width: 0%; }
    100% { width: 95%; }    
}

.progress-js {
    animation: progress-animation-js 3s forwards;  
}
@keyframes progress-animation-js{    
    0% { width: 0%; }
    100% { width: 85%}
}

.progress-php {
    animation: progress-animation-php 3s forwards;  
}
@keyframes progress-animation-php{    
    0% { width: 0%; }
    100% { width: 95%}
}

.progress-laravel {
    animation: progress-animation-laravel 3s forwards;  
}
@keyframes progress-animation-laravel{    
    0% { width: 0%; }
    100% { width: 80%}
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.projeto {
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: -10px 8px 0px rgb(16, 42, 49);
    transition: transform 0.3s, box-shadow 0.3s;
}

.projeto:hover {
    transform: translateY(-10px);
    box-shadow: -10px 8px 0px rgb(10, 19, 22);
}

.projeto-img img {
    width: 100%;
    height: 14.063rem;
    object-fit: cover;
    filter: brightness(0.7);
    border-radius: 10px 10px 0 0;

}

.projeto-text {
    padding: 2rem;
}


.linguagem-img {
    display: flex;
    justify-content: center;
}

.linguagem-img img {
    display: flex;
    width: 35px; 
    padding: 10px;  
}

#contato a {
    color: #f8f9fa; /* Cor do texto ajustada */
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
    transition: color 0.3s, border-bottom-color 0.3s;
}

#contato a:hover {
    color: #007bff;
    border-bottom-color: #f8f9fa; /* Cor do texto ajustada */
}


footer {
    background: #253745;
    color: #f8f9fa; /* Cor do texto ajustada */
    padding: 1rem;
    text-align: center;
    transition: background-color 0.5s;
    width: 100%;
}

footer p {
    margin-top: 40px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: flex;
    }

    ul li {
        padding: 0 25px 0 25px;
    }
    
    .experiencia-grid {
        padding: 0 25px 0 80px;
        margin-right: 15px;
    }

    .projetos-grid {
        padding: 0 25px 0 80px;
        margin-right: 15px;
    }


    section {
        width: 100%;
        margin: auto;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
